<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <h3>Reviews </h3>
      <% if !@reviews.exists? %>
            <h3> Be the first to review! </h3>
      <% else %>
        <h5> Overall Rating: <%= @reviews.average(:rating) %> </h5>
        <h5> Rating |  Review</h5>
        <% @reviews.order("created_at DESC").each do | review | %>
          <div class="single-review"><b><%=review.rating%>/5</b> |  <i><%=review.description %></i>
            <% if current_user.try(:id) == review.user_id %>
              <%= button_to "Delete", product_review_path(@product, review), data: {confirm: 'Are you sure?'}, method: :delete, class: "delete-review" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if current_user %>
        <%= form_for [@product, @review] do |f| %>
          <%= f.text_field :description %>
          <%= f.select :rating, options_for_select([1,2,3,4,5]) %>
          <%= f.submit 'Add Review', class: 'btn btn-primary'%>
        <% end %>
      <% end %>
    </div>

  </article>

</section>
